
<div class="sidebar-L">
    <h2>Знать</h2>

    <div class="revert-h3">
        <img src="/assets/images/StivenBorn.svg" alt="фото Стивена Борна, который разработал оболочку Bourne shell"
        title="Стивен Борн. Разработал оболочку Bourne shell">
        <h3 style="margin-top: 4px;">Ввод и вывод с помощью оболочки</h3>
    </div>

    <div class="block-know">
        <p><b>stdin</b>- стандартный ввод</p>
        <p><b>stdout</b> - стандартный вывод</p>
        <p><b>stderr</b> - стандартная ошибка</p>
    </div>
    <div class="block-know">
        <p><code>~]$ ls > file.txt</code> - отправит вывод  в file. Создаст file, если file уже есть затрет данные в нем.</p>
        <p><code>~]$ ls >> file.txt</code> - вывод в файл без затирания</p>
        <p><code>~]$ set -C</code> - включить параметр оболочки предотварщающий затирание (+С отключить).</p>
        <p><code>~]$ head /proc/cpuinfo | tr a-z A-Z</code> - отправить стандартный вывод на стандартый вход другой комаде</p>
        <p><code>~]$ ls /ffffff 2> err.txt</code> - отправить ошибку в файл.</p>
        <p><code>~]$ ls /ffffff 2>&1 file.txt</code> - направит ошибку туда же куда stdin</p>
    </div>
</div>

