<!-- Первый блок шапки - главная навигация -->
<div class="navbar">
    <img src="/assets/images/brand-logo/Brand-logo.svg" alt="">
<nav>
    <ul class="site-nav">
        <li class="brand-button">
            {% if page.url == "/" %}<span>LinuxGik</span>
            {% else %}<a href="/">LinuxGik</a>{% endif %}
        </li>
        {% for item in site.data.navigation.nav %}
            <li><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% endfor %}
        <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg></li>
    </ul>
</nav>
</div>
<!-- Конец первого блока шапки (headers) -->

<!-- Второй блок шапки (header)  -->
<!-- Расположен внизу сразу под первым блоком.
Второй блок разделен на два блока - левый и правый.
В первом блоке (левом) - Breadcrumbs ->-> под ним ->-> h1 ->-> под ним ->-> embeding-header.
Второй блок (правый) - Section-menu (меню раздела)
 --------------------------------------------------------------------------------------------
 |                                      |                                                   |
 | breadcrumbs                          |                                                   |
 |                                      | section-menu                                      |
 | h1                                   |                                                   |
 | page.embedding-header.               |                                                   |
 |                                      |                                                   |
 --------------------------------------------------------------------------------------------
-->
<div class="level-two-header-left">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        {% if s3 %}
            <a href="/">Главная</a> /
            <a href="{{ s1.link }}" > {{ s1.name }} / </a>
            <a href="{{ s2.link }}"> {{ s2.name }} / </a>
            <span> {{ s3.name }}</span>
        {% elsif s2 %}
            <a href="/">Главная / </a>
            <a href="{{ s1.link }}"> {{ s1.name }} / </a>
            <span> {{ s2.name }}</span>
        {% elsif s1 %}
            <a href="/">Главная / </a>
            <span> {{ s1.name }}</span>
        {% else %}
            <span>Вы находитесь на главной странице портала.</span>
        {% endif %}
    </div>
    <h1>{{ page.h1 }}</h1>
</div>

{% include header/level_two_header_right.html %}