.grid-container {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: auto 2fr auto;
    grid-template-areas: "sidebarL header"
                         "sidebarL main"
                         "footer footer";
    min-height: 100vh;
}

header {
    grid-area: header;
}
main {
    grid-area: main;
}
.sidebar-L {
    grid-area: sidebarL;
}

footer {
    grid-area: footer;
}

