/* Брендовое название в меню - переход в главное меню */
.linux {
    font-weight: bold;
    color: #aded16;
}
.gik {
    font-weight: bold;
    color: #bbdd0e;
}

.site-nav {
    display: flex;
    padding-left: .5em;
    background-color: #000000;
    list-style-type: none;
    border-radius: .1em;
    margin: 0;
}

.site-nav > li {
    margin-top: 0;
}

 .site-nav > li:last-child {
     padding-right: 1em;
 }
.site-nav > li > a {
    display: block;
    padding: 3px 1em;
    background-color: #000000;
    color: white;
    text-decoration: none;
    font-family: "open", sans-serif;
    font-size: 13px;
}

.site-nav > li > a:hover {
    text-decoration: underline;
    color: #9ff300;
}

.site-nav > li + li {
    margin-left: auto;
}

header > .under-nav {
    font-size: 12px;
}

header > .under-nav > h1 {
    margin: 0;
}

/*.under-nav > h1 {*/
/*    margin-top: 0;*/
/*}*/