@import url("fonts/fonts.css");
@import url("typography.css");
@import url("header-nav.css");
@import url("code.css");
@import url("sidebar-L.css");

/* Теги */
body {
    font-family: Inter, sans-serif;
    /*background-color: #fafafa;*/
    background-color: #f7eadf;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
}

.main {
    margin-right: 1em;
}
.site-header {
    font-size: 12px;
}
/* <main> */
/* ARTICLE-BOX */
.article-box {
    padding-left: 3em;
    padding-bottom: 1em;
    background-color: #fbf1ec;
    border-radius: 12px;
    margin-top: 0;
}

.article-header {
    border-bottom: 1px solid #e1e1e1;
}

.article-box > h3 {
    margin-top: 1rem;
    margin-bottom: 0;
}

.article-box h3 + p {
    margin-top: 0.5em;
}

.article-box > ul {
    list-style-type: none;
}
.instruction-list > li > p:first-child {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.note {
    padding: 2px;
    display: inline-block;
    border: #cdec98 solid 1px;
    margin-top: 0;
    font-size: 0.7em;
    /*background-color: #dee1cf;*/
    background-color: #f1f4e8;
}

.note-attention {
    padding: 2px;
    display: inline-block;
    border: #efb6cf solid 1px;
    margin-top: 0;
    font-size: 0.7em;
    background-color: #f1e7ec;
}

/* FOOTER */
footer {
    background-color: rgb(36, 18, 4);
    color: rgb(71, 65, 56);
}

