/* Ассоциативные цвета, для выделения в абзацах, html-тегов, путей к файлам, директорий, определенных типов файлов. */
:root {
    --color-local: #3bd11c;
    --color-remote: #e8ac0b;
    --color-root:  #ef2929;
    --color-rsync: rgb(158, 30, 94);
    --color-attention: rgb(90, 39, 230);
    --color-dir: #268BD2;
}

/* блок код в абзаце */
.text-code-box {
    background-color: #333;
    color: white;
    border-radius: 4px;
    padding: .2em 1em;
    overflow: auto;
}

.local {
    color: var(--color-local);
    font-weight: bold;
}
.local::before {
    content: "local"
}

.remote {
    color: var(--color-remote);
    font-weight: bold;
}
.remote::before {
    content: "remote";
}

.root {
    color: var(--color-root);
    font-weight: bold;
}
.root::before {
    content: "root";
}

.text-code-box > .text-dir {
    color: #3ba0e6;
    font-weight: bold;
}
/* типы файлов в абзацах */
.text-dir {
    color: var(--color-dir);
}
.text-html {
    color: #E34F26;
}
.text-yml {
    color: oklch(0.575 0.217 24.214);
}


.custom-hr {
    border: 0;           /* Убираем стандартную рамку */
    height: 1px;         /* Толщина линии */
    background-color: #ccc; /* Цвет линии */
    width: 50%;          /* Ширина линии (можно задать в px, %) */
    margin: 0 auto 0 10em;    /* Автоматические отступы по бокам выравнивают по центру */
}

/* директории, файлы, пути к файлам */
/* <span class="path"><span class="dir">_layouts</span>/<span class="html">default.html</span></span> */
/* Путь к файлу, обрамляется в класс .path, директория в .dir, файл обрамляется в свой класс.*/
.path {
    font-family: 'Courier New', Courier, monospace;
    background: #edeaea;
    padding: 0.1em 0.3em;
    border-radius: 3px;
    font-size: 0.95em;
}

.yml { color: oklch(0.87 0.16 89.42); }     /* YAML-файл */


/* Другое */

/* Очень важное понятие */
.rsync {
    color: var(--color-rsync);
    font-weight: bold;
}

.attention {
    color: var(--color-attention);
    font-weight: bold;
}

kbd {
    color: black;
    font-size: small;
    border: 0.2em solid; border-color: #DDD #BBB #BBB #DDD;
    padding: 0 0.4em;
    background: #EEE;
    white-space: nowrap;
}